*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: cookie;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #fff;
  width: 100%;
  height: auto;
}

header{
  width: 100%;
  height: auto;
  background-color: #dac5b0;
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header a{
  color: #81490C;
  padding: 12px;

}

#logo{
    position: relative;
    width: auto;
    height: 85px;
    display: flex;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #81490C;
    font-family: cookie;
    font-size: 35px;
    margin: auto;
}

#barra{
    width: 12px;
    height: 75px;
    font-size: 50px;
    font-family: Arial;
    padding: 12px;
}

a{
    text-decoration: none;
    font-family: cookie;
    font-size: 35px;
    color: #81490c;
}

#img_orc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#img_orc img{
    padding: 10px;
}

#orcament{
    width: auto;
    height: 85px;
    
}
#carrosel{
    background-image: url(../assets/Carrosel.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#carrosel p{
    font-family: cookie;
    font-size: 75px;
    color: #fff;
    padding: 25px;
    text-align: left;
}

#frases{
    color:#81490C;
    font-family: cookie;
    font-size: 75px;    
    text-align: center;
    padding: 45px;
    text-decoration: none;
}

section{
  background-color: #ffedda;
  color: #81490C;
  margin: auto;
  text-align: center;
  font-size: 45px;
}

#bolinhos{
  width: 100%;
  display: flex;
}


#sec_frase{
  margin-top: 15px;
}

.produto{
  width: 250px;
  height: 300px;
  float: left; 
  padding: 5px;
  align-items: center;
  padding-top: 20px;
  margin-left: 60px;
}

.produto img{
  border-radius: 5px;
  border: 0.2px solid #dac5b0;
  float: left;
}

#bolos_car{
  font-size: 45px;
  color: #81490C;
  margin: auto;
  text-align: center;
  padding: 25px;
}

#textos_sec{
  text-align: center;
  font-family: cookie;
  font-size: 45px;
  color: #81490C;
}

#textos_sect{
  text-align: center;
  font-family: cookie;
  font-size: 45px;
  color: #81490C;
}

/*inicio*/

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

.fonte img :hover{
  transform: scale(1.20,1.20);
}

.container {
  position: relative;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 100%;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffedda;
  width: auto;
}

.container img {
  height: 450px;
  width: auto;
}

.container button{
  align-items: center;
  justify-content:center ;
  border-radius: 20px;
  height: 25px;
  color: #fff;
  background-color: #ffedda;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

/* This is from w3schools */
/* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*fim*/

#tabela{
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-family: cookie;
  color: #81490C;
  margin: auto;
}

#tabela p{
  padding: 20px;
  margin-top: 20px;
  font-size: 45px;
}

footer{
  background-color: #81490C;
  width: 100%;
  display: flex;
  height: 300px;
}

#logo_foot{
  width: auto;
  padding: 20px;
}


#logo_foot img{
  width: 200px;
  height: auto;

}

#logo_foot p{
  font-family: cookie;
  font-size: 35px;
  color: #fff;
}

#info_fot{
  width: auto;
  display: flex;
  
} 
  
#info_fot a{
  font-size: 35px;
  margin: auto;
  color: #fff;
  padding: 5px;
  
}

#baixo p{
  font-size: 50px;
  margin: auto;
  color: #ffffff;
  padding: 5px;
}

#d_foot{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  gap: 20px;
}

#d_foot a p{
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  float: left;
}

#d_foot .whatsapp{
  width: auto;
  height: 50px;
  flex-direction: column;
  color: #fff;
  align-items: center;
  float: left;
  
}