*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #fff;
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: auto;
    background-color: #dac5b0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header a{
  color: #81490C;
  padding: 12px;

}

#logo{
    position: relative;
    width: auto;
    height: 85px;
    display: flex;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #81490C;
    font-family: cookie;
    font-size: 35px;
}

#barra{
    width: 12px;
    height: 75px;
    font-size: 50px;
    font-family: Arial;
    padding: 12px;
}

a{
    text-decoration: none;
    font-family: cookie;
    font-size: 35px;
    color: #81490c;
}

#img_orc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#img_orc img{
    padding: 10px;
}

#orcament{
    width: auto;
    height: 85px;
    
}
#carrosel{
    background-image: url(../assets/Carrosel.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#carrosel p{
    font-family: cookie;
    font-size: 75px;
    color: #fff;
    padding: 25px;
}

#frases{
    color:#81490C;
    font-family: cookie;
    font-size: 75px;    
    text-align: center;
    padding: 45px;
    text-decoration: none;
}

section{
  background-color: #ffedda;
}

#bolinhos{
  width: 100%;
  display: flex;
}



#sec_frase{
  margin-top: 15px;
}

.produto{
  width: 250px;
  height: 300px;
  float: left; 
  padding: 5px;
  align-items: center;
  padding-top: 20px;
  margin-left: 60px;
}

.produto img{
  border-radius: 5px;
  border: 0.2px solid #dac5b0;
  float: left;
}

#textos_sec{
  text-align: center;
  font-family: cookie;
  font-size: 45px;
  color: #81490C;
  background-color: ;
}

#textos_sect{
  text-align: center;
  font-family: cookie;
  font-size: 45px;
  color: #81490C;
}

#tabela{
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
}

footer{
  background-color: #81490C;
  width: 100%;
  display: flex;
  height: 300px;
}

#logo_foot{
  width: 33%;
  padding: 20px;
}


#logo_foot img{
  width: 200px;
  height: auto;

}

#logo_foot p{
  font-family: cookie;
  font-size: 35px;
  color: #fff;
}

#info_fot{
  width: 33%;
  display: flex;
} 
  
#info_fot a{
  font-size: 35px;
  margin: auto;
  color: #fff;
  padding: 5px;
  
}

#info_fot p{
  font-size: 50px;
  margin: auto;
  color: #fff;
  padding: 5px;
}

#d_foot{
  width: 33%;
  display: flex;
  padding: 5px;
}

#d_foot a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  padding: 2px;
  margin-left: 20px;
}

#d_foot .whatsapp{
  width: auto;
  height: 50px;
  flex-direction: column;
  padding: 2px;
  color: #fff;
  margin-left: 20px;
  
}