*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #fff;
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: auto;
    background-color: #dac5b0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#logo{
    position: relative;
    width: auto;
    height: 85px;
    display: flex;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #81490C;
    font-family: cookie;
    font-size: 35px;
}

#barra{
    width: 12px;
    height: 50px;
    font-size: 50px;
    font-family: Arial;
    padding: 12px;
}

a{
    text-decoration: none;
    font-family: cookie;
    font-size: 35px;
    color: #81490c;
}

#img_orc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#img_orc img{
    padding: 10px;
}

#orcament{
    width: auto;
    height: 85px;
    
}
#carrosel{
    background-image: url(../assets/Carrosel.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#carrosel p{
    font-family: cookie;
    font-size: 75px;
    color: #fff;
    padding: 25px;
}

#frases{
    color:#81490C;
    font-family: cookie;
    font-size: 75px;    
    text-align: center;
    padding: 45px;
    text-decoration: none;
}

.produto{
  width: 200px;
  height: 200px;
  
}

.produto img{
  border-radius: 10px;
  border: 0.2px solid rgba(0, 0, 0, 0.363);
}

.produto p{
  font-family: style;
  text-align: left;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);  
  margin-bottom: 6px;
}

.produto button{
  font-family: style;
  text-decoration: none;
  font-size: 15px;
  background-color: #66666680;
  color: white;
  padding: 5px;
  border-radius: 10px;

}

.produto a:hover{
  background-color: #fafafa80;
  color: black;
  transition: 0.3s;
 

}